html
    head
        title= title
        link(rel="stylesheet", href="/static/css/main.css")
    body
        h1= message
        p 
            | test
        a(href="http://ya.ru") yandex
        script(src="/static/js/myjs.js")